.container {
  display: flex;
  width: 100vw;
  height: 85vh;
  margin-bottom: 5vh;

  section {
	&:first-of-type {
	  display: flex;
	  position: relative;
	  justify-content: center;
	  align-items: center;
	  width: 50%;
	  height: 100%;

	  > div {
		&:nth-of-type(1) {
		  width: 50vw;
		  height: 100%;
		  position: absolute;
		  display: flex;
		  justify-content: center;
		  align-items: center;

		  > img {
			width: 40vw;
			height: 40vw;
			position: absolute;
		  }



		}

		&:nth-of-type(2) {
		  outline: 4px solid white;
		  border: 7px solid var(--streak);
		  width: 20vw;
		  height: 20vw;
		  background-color: white;


		  .flag {
			height: 100%;
			width: 100%;
			top: -10px;
			left: -20px;
			z-index: 200;
		  }

		  .switch {
			position: absolute;
			width: 4vw;
			height: 4vw;
			background-size: cover;
			background-position: center;
			background-color: white;
			border-top: 2px solid var(--streak);
			border-right: 2px solid var(--streak);
			z-index: 200;
			left: -2vw;
			bottom: -2vw;
			cursor: pointer;

		  }


		  .options {
			display: flex;
			position: absolute;
			align-items: center;
			justify-content: center;
			width: 4vw;
			height: 4vw;
			border: none;
			box-shadow: none;
			border-top: 2px solid var(--streak);
			border-left: 2px solid var(--streak);
			z-index: 200;
			right: -2vw;
			bottom: -2vw;
			transition: 0.3s all ease;
			cursor: pointer;
		  }

		  article {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			height: 100%;
			width: 100%;
			transition: 0.25s;
			background-color: white;
			z-index: 100;
			color: #2c2c2c;

		  }


		}

	  }
	}

	&:nth-of-type(2) {
	  width: 50%;
	  display: flex;
	  align-items: center;
	  flex-direction: column;

	  h1 {
		background-image: url("../../../img/btnfondo.svg");
		background-size: cover;
		background-position: center;
		background-color: transparent;
		text-align: center;
		width: 15vw;
		z-index: 10;
	  }

	  div {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 1vw;
		grid-row-gap: 1vh;

		article {
		  z-index: 10000;

		  h4 {
			margin-top: 1vh;
			font-size: 1rem;
			text-align: center;
			background-image: url("../../../img/btnfondo.svg");
			background-size: cover;
			background-position: center;
			background-color: transparent;
		  }

		  div {
			border: 2px solid var(--streak);
			background: white;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 10vw;
			height: 10vw;
			transition: 0.1s all ease;
			cursor: pointer;

		  }

		  div:hover {
			outline: 2px solid white;

		  }
		}
	  }
	}
  }
}




.textShadowActive {
  font-weight: bold;
}

.textShadowInactive {
  text-shadow: none;
}

.color {
  width: 3.5vw;
  height: 3.5vw;
  z-index: 10000;
  position: relative;

  img {
	&:nth-of-type(2) {
	  position: absolute;
	}
  }
}