.btn{
    position: absolute;
    right: -50px;
    display: flex;
    align-items: center;
    width: 150px;
    z-index: 10000;
    span {
        text-align: center;
        font-size: 1.5rem;
    }
}

.top{
    top: 15vw;
}
.mid{
    top: 20vw;
}
.bottom{
    top: 25vw;
}
.footer{
    top: 30vw;
}