.btn{
    position: absolute;
    right: -50px;
    display: flex;
    align-items: center;
    width: 150px;
    z-index: 10000;
    span {
        text-align: center;
        font-size: 1.5rem;
    }
}

.top{
    top: 30vh;
}
.mid{
    top: 40vh;
}
.bottom{
    top: 50vh;
}
.footer{
    top: 60vh;
}