.container {
  display: flex;
  height: 100vh;
  background-color: rgb(9, 10, 19);
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .navegation {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 10vh;

	h1 {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  background-image: url("../../img/btnfondo.svg");
	  background-size: cover;
	  background-position: center;
	  background-color: transparent;
	  z-index: 1000;
	  font-size: 1rem;
	  width: 10vw;
	}
  }
}


.input {
  color: white;
  position: absolute;
  left: 25vw;
  bottom: 3vh;
  font-size: 3rem;
  text-align: center;
  width: 50vw;
  height: 10vh;
  background-color: transparent;
  border: none;
  border-bottom: 10px solid white;
}

.containerMain {
  display: flex;
  width: 100vw;
  height: 85vh;
  margin-bottom: 5vh;

}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}